/* Top-level styles */

html {
  position: relative;
  min-height: 100%;
}
.app body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

/* utility */
.h-100-vh {
  height: 100vh;
}

.min-height-100-vh {
  min-height: 100vh;
}

.table-responsive-max-height-500 .table-responsive {
  max-height: 500px;
}

.table-responsive-max-height-500 .table-responsive table {
  margin-bottom: 0;
}

/* layout */
.container,
.container-fluid,
.container-xl {
  background-color: #fff;
}

/* reboot */
.abbr {
  // text-decoration: underline;
  // -webkit-text-decoration: underline dotted;
  // text-decoration: underline dotted;
  cursor: help;
  //border-bottom: 0;
  // -webkit-text-decoration-skip-ink: none;
  // text-decoration-skip-ink: none;
  border-bottom: 1px dotted #000;
}

/* Navbar */
.app .navbar-nav .navbar-context-menu .nav-link {
  color: #ed8b00;
}

.app .navbar-nav .navbar-context-menu .nav-link:hover,
.app .navbar-nav .navbar-context-menu .nav-link:focus {
  color: #a15e00;
}

/* table */
.app .table-sm th,
.app .table-sm td {
  padding: 0.1rem 0.3rem;
}

.sticky-table th {
  position: sticky;
  top: -1px;
  background-color: #fff;
}

/* modal */
@media (min-width: 992px) {
  .app .modal-lg,
  .app .modal-xl {
    max-width: 950px;
  }
}

/* Component-specific styles */
/* TODO consider moving to inline style */
.summary-stat-card .card-title.h5 {
  font-size: 1.15rem;
}

/* Bootstrap overrides */
$primary: #0072ce;
$secondary: #ed8b00;
$info: #00b1b0;
$dark: #002746;

/*
alert info e0f1f1
*/

$body-bg: #00355f;

$tooltip-max-width: 300px;

@media (min-width: 1440px) {
  .app .container-xxl {
    max-width: 1400px;
  }
}

$enable-rounded: false;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

@import "/src/shared/grid/tables.scss";

/* Individual Components */

/* ResultGrid */

.result-grid .th {
  text-align: center;
}
